{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
    <div id="new_post">
        <h3>New Post</h3>
        <form id="new_post-form">
            <textarea class="form-control" id="new_post-body" placeholder="" maxlength="280"></textarea>
            <input type="submit" class="btn btn-primary mt-2"/>
        </form>
    </div>

    {% endif %}
    <div id="all_posts">
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}