{% extends "auctions/layout.html" %}

{% block body %}
<h2>Listing: {{ listing.title }}</h2>

{% if listing.image %}
    <img src="{{ listing.image }}" alt="Listing Image" height=300>
{% else %}
    <img src="https://makitweb.com/demo/broken_image/images/noimage.png" alt="No Image" height=300>
{% endif %}
<h3>Item Description:</h3>
<p>{{ listing.description }}</p>
<h5>List Price: ${{ listing.starting_price }}</h5>

{% if bids %}
<h3>Current Bid: ${{ bids.first.bid }}</h3>
{% endif %}

<p>There are currently {{ bids.count }} bids.
    {% if bids.first.user == request.user %}
        Your bid is the current bid.
    {% endif %}
</p>
<!-- 
    Todo:
        Insert Bid Function, takes in bid value (If it's > starting price and highest bid)
        Takes in username
-->

{% if user.is_authenticated %}
<form action="{% url 'listing' listing.id %}" method="POST">
    {% csrf_token %}
    {{ form }}
    {% if alert %}
        <p>{{ alert }}</p>
    {% endif %}
    <input type="submit" value="Enter Bid">
</form>
{% endif %}


<div>
    <h2>Details</h2>
    <ul>
        <li>Listed by: {{ listing.owner }}</li>
        <li>Listed on: {{ listing.date }}</li>
    </ul>
</div>


{% endblock %}